body {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.contents {
	display: table;
}

.main {
	background-color: skyblue;
	display: table-cell;
}

.main header {
	background-color: lightgray;
	height: 30px;
}

.left {
	background-color: pink;
	display: table-cell;
	width: 200px;
}

.right {
	background-color: greenyellow;
	display: table-cell;
	width: 300px;
	height: 100%;
}

footer {
	background-color: yellow;
	height: 50px;
}
