body {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

aside {
	background-color: pink;
	display:table-cell;
	width: 200px;
}

.main {
	background-color: skyblue;
	display:table-cell;
	height: 100%;
}
